<!-- footer -->
          <section id="footerRights">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <p>Copyright &copy; 2014 Team U</p>
                </div>
              </div>
            </div>
          </section>
          <!-- End footer -->
        </div>
        <!-- global wrapper -->

<!-- End Document 
  ================================================== -->
  <script type="text/javascript" src="static/respond.min.js"></script>
  <script type="text/javascript" src="static/jquery.min.js"></script>
  <script type="text/javascript" src="static/jquery-ui-1.8.23.custom.min.js"></script>
  <!-- third party plugins  -->
  <script type="text/javascript" src="static/bootstrap.js"></script>
  <script type="text/javascript" src="static/bootstrap-carousel-ie.js"></script>
  <script type="text/javascript" src="static/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="static/supersized.3.2.7.min.js"></script>
  <script type="text/javascript" src="static/supersized.shutter.min.js"></script>
  <script type="text/javascript" src="static/responsive-nav.min.js"></script>

  <script type="text/javascript" src="static/jquery.isotope.min.js"></script>
  <script type="text/javascript" src="static/jquery.form.js"></script>
  <script type="text/javascript" src="static/jquery.validate.min.js"></script>
  <script type="text/javascript" src="static/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="static/jquery.scrollTo-1.4.3.1-min.js"></script>
  <script type="text/javascript" src="static/jquery.localscroll-1.2.7-min.js"></script>
  <script type="text/javascript" src="static/jquery.stellar.min.js"></script>
  <script type="text/javascript" src="static/SmoothScroll.js"></script>
  <!-- Custom  -->
  <script type="text/javascript" src="static/custom.js"></script>


<ul id="supersized" class="quality" style="visibility: visible;"><li class="slide-0" style="left: -1619px;"><a target="_blank"><img src="static/supersized-1.jpg" style="width: 1825.4901960784314px; left: -103px; top: 0px; height: 931px;"></a></li><li class="slide-1 prevslide" style="visibility: visible; left: -1619px;"><a target="_blank"><img src="static/supersized-2.jpg" style="width: 1825.4901960784314px; left: -103px; top: 0px; height: 931px;"></a></li><li class="slide-2 activeslide" style="visibility: visible; left: 0px;"><a target="_blank"><img src="static/supersized-3.jpg" style="height: 931px; width: 1825.4901960784314px; left: -103px; top: 0px;"></a></li></ul></body></html>